<article class="next-article {{post_class}}" 
    style="background: linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url({{img_url feature_image size="s"}}) no-repeat center / cover, #111111"
    data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-out-cubic" data-aos-delay="100">
    <a href="{{url}}">
        <div class="content">
            <span>{{primary_tag.name}}</span>
            <h1 class="title">{{title}}</h1>
            <p class="text-preview">
                {{excerpt}}
            </p>
        </div>
    </a>
</article>