<article class="article {{post_class}}">
    <a href="{{url}}"><img class="thumbnail" src="{{feature_image}}"/></a>
    <div class="content">
        <span class="category">{{primary_tag.name}}</span>
        <span class="title">{{title}}</span>
        <span class="category">{{reading_time}}</span>
        <span class="text-preview">
            {{excerpt words="50"}}...
        </span>
    </div>
    <a href="{{url}}" class="button dark">Lesen</a>
</article>
