<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    <meta charset="UTF-8" />
    <meta name="HandheldFriendly" content="True" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{primary_author}}" />
    <meta name="theme-color" content="#59388D">
    <meta name="keywords" content="technik, tech, news, techniknews, technews, shorttech, short, tech, we love tech" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset "img/favicons/apple-touch-icon.png"}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset "img/favicons/favicon-32x32.png"}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset "img/favicons/favicon-16x16.png"}}">
    <link rel="shortcut icon" href="{{asset "img/favicons/favicon.ico"}}">
    <link rel="manifest" href="{{asset "img/favicons/site.webmanifest"}}">
    <link rel="mask-icon" href="{{asset "img/favicons/safari-pinned-tab.svg"}}" color="#59388D">
    <meta name="msapplication-TileColor" content="#212121">
    <meta name="msapplication-config" content="{{asset "img/favicons/browserconfig.xml"}}">

    <title>{{meta_title}}</title>
    <link rel="stylesheet" type="text/css" href="{{asset "assets/dist/css/style.css"}}" />

    {{ghost_head}}

</head>

<body class="{{body_class}}">

    <input type="checkbox" id="gn-menustate" class="gn-menustate" />

    <nav id="globalnav">
        <div class="content container-flo">
            <a class="brand" href="/">
                <span class="name">{{@site.title}}</span>
            </a>

            <!-- Nav Menu -->
            <div class="menu">
                <label class="menuicon" for="gn-menustate" aria-hidden="true">
                    <span class="bread bread-top">
                        <span class="crust crust-top"></span>
                    </span>
                    <span class="bread bread-bottom">
                        <span class="crust crust-bottom"></span>
                    </span>
                </label>
                {{navigation}}
            </div>
        </div>
    </nav>

    {{{body}}}

    {{> "footer"}}

    <script>
        let page = 2;
        let url_blog = window.location.href;
        let ids = ['p31', 'p32', 'p33', 'p21', 'p22', 'p1']

        function ready(fn) {
            if (document.readyState != 'loading'){
                fn();
            } else {
                document.addEventListener('DOMContentLoaded', fn);
            }
        }

        function infiniteScroll() {
            window.onscroll = function() {
                if (isScrolledIntoView(document.getElementsByClassName('footer')[0])) {
                    var req = new XMLHttpRequest();
                    req.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            parser = new DOMParser();
                            doc = parser.parseFromString(this.responseText, "text/html");
                            ids.forEach((id) => {
                                document.getElementById(id).innerHTML += doc.getElementById(id).innerHTML;
                            })
                        }
                    };
                    req.open("GET", url_blog + 'page/' + page, true);
                    req.send();
                    page = page + 1;
                }
            };
        }

        function isScrolledIntoView(el) {
            var rect = el.getBoundingClientRect();
            var elemTop = rect.top;
            var elemBottom = rect.bottom;
            var isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
            return isVisible;
        }

        ready(infiniteScroll())
    </script>

    {{ghost_foot}}
</body>

</html>
