{{!< default}}

<main>

    {{#post}}
    <header class="page-header article"
        style="background: linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url({{feature_image}})  no-repeat center / cover, #111111">
        <div class="content container">
            <div class="meta">                
                <span class="date">{{date format="D. MMMM YYYY"}}</span>
                {{#primary_tag}}
                <span class="category">
                    <a href="{{url}}">
                        {{name}}
                    </a>
                </span>
                {{/primary_tag}}
                <span class="readingtime">{{reading_time minute="Nur eine Minute Lesezeit" minutes="% Minuten Lesezeit"}}</span>
            </div>
            <h1 class="headline">{{title}}</h1>
            {{#if authors}}
            <div class="authors">
                von {{authors separator=" & "}}
            </div>
            {{/if}}
        </div>
        <figure class="wave"></figure>
    </header>

    <section class="article container">
        <div class="content">
            {{content}}
        </div>
    </section>
    {{/post}}

</main>